body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0.5em 2.5em;
}

#search-body{
  margin:0 auto;
  width:100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

header {
  background: #1981E7;
  box-sizing: border-box;
  border: 3px solid;
  text-transform: capitalize;
  width: 100%;
}

h1 {
  font-size: 1.6em;
  padding: 0.8em;
}

h3 {
  font-size: 1.3em;
  margin-left: auto;
  margin-right: auto;
}

form {
  padding-top: 1.0em;
}

.row{
  width: 100%;
}

form.column-half {
  float: left;
  padding: 0.65rem;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

form.full {
  padding: 0.65rem;
  width: 100%;
}

input[type="text"] {
  border: solid 5px #c9c9c9;
  font-size: 1.0em;
  padding: 10px;
}

input[type="submit"] {
  background-color: cyan;
  border: solid darkblue;
  font-size: 1.0em;
  margin-top: 10px;
  margin-left: 10px;
}

select {
  background-color: lightblue;
  font-size: 1.0em;
}

input[type="submit"]:active {
  background-color: darkblue;
  color: white;
}

hr {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
code {
  background-color: #E4E4E4;
  display: block;
  font-family: monospace;
  white-space: pre;
  width: 100%;
}
